[Unit]
Description=GTA-Radio that Plays via PCm5102 Output and recives Controls over Rotary Encoder, also displays Images on tft diplay
After=sound.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/pi/Schwerer-Autodiebstahl-Radio/
Type=simple
Restart=always
RestartSec=5
User=root
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/usr/bin/python3  /home/pi/Schwerer-Autodiebstahl-Radio/Schwerer-Autodiebstahl-Radio.py


[Install]
WantedBy=multi-user.target